<article>
  <div class="row admin-stats">
    <div class="large-24 medium-24 small-24 columns articles-admin">
      <h5>Articles
        <span>
          <%= paginate @articles, window: 2 %>
        </span>
      </h5>
      <ul>
        <% @articles.each_with_index do |article, index| %>
          <li class="category-gradient">
            <h5>
              <%= "#{article.title}\t - <i>#{article.category.name}</i>".html_safe %>
              <span>
                <%= link_to "<i class=\"fa fa-edit\"></i>".html_safe, edit_admin_article_path(article) %>
                <%= link_to "<i class=\"fa fa-remove\"></i>".html_safe, admin_article_path(article), method: :delete %>
              </span>
            </h5>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</article>
