<% breadcrumb :root %>
<article>
  <h3><a href="#">Welcome to The Abh Nation!</a></h3>
  <h6>Written by <a href="/users/1">ACIDSTEALTH</a> on January 25, 2015.</h6>
  <div class="row">
    <div class="large-12 medium-24 small-24 columns">
      <p>Welcome! The Abh Nation, formally known as NationSafugnoff, has been loyally dedicated to the Seikai universe of Hiroyuki Morioka since Janurary of 2003! The original site can be found <%= link_to "here", "http://www.abhnation.com/" %>. Once complete, this site will be migrated to the abhnation.com domain, and the current site will be archived.</p>
      <p></p>
    </div>
    <div class="large-12 medium-24 small-24 columns">
      <img src="http://www.abhnation.com/images/Flag.jpg"/>
    </div>
  </div>
  <p>Though there is no definitive date yet set for the final migration of the new site, I expect the process to occur within the next six months. Until then, I will continue to build out this site by adding a forum, user messaging system, and additional new content. This page will eventually be replaced by a live feed of the latest site updates.</p>
  <p>Check out my blog or follow me on Twitter to keep up with the latest developments to the site. If you would like to contribute to the site, drop me a line on <a href="http://www.twitter.com/ACIDSTEALTH">Twitter</a> and we will be in touch!</p>
</article>
