#account {
  background-color: rgba(70, 79, 113, 0.4);
  border: 1px solid $grey;
  border-radius: 5px;
}

#account img {
  border: 1px solid $grey;
  border-radius: 5px;
}

#account > div > ul > li > div > label {
  font-family: $font-family-title;
}

#account > div > ul > li > div input.upload {
  border: 1px solid $grey;
  background-color: transparent;
  height: 35px;
}

#account > h5 {
  text-align: center;
}

input[type=checkbox] {
  display: none;
}

[type=checkbox] + label {
  border: 1px solid $grey;
  background-color: rgba(70, 79, 113, 0.4);
  height: 17px;
  width: 17px;
  display: inline-block;
}

[type=checkbox]:checked + label {
  display: inline-block;
  background-color: rgba(188, 0, 0, 0.3);
  border: 1px solid $grey;
}

#flash-success {
  background-color: rgba(0, 188, 2, 0.08);
  border: 2px solid rgba(0, 188, 2, 0.4);
  border-radius: 5px;
}

#admin-access {
  background-color: rgba(70, 79, 113, 0.4);
  border: 2px solid $burgandy;
  border-radius: 5px;
  text-align: center;
}

#admin {
  background-color: rgba(70, 79, 113, 0.4);
  border: 2px solid $burgandy;
  border-radius: 5px;
}

#admin > ul > li > h6 > a,
#admin > ul > li > h6 > a:active,
#admin > ul > li > h6 > a:visited,
#admin-access > ul > li > h6 > a,
#admin-access > ul > li > h6 > a:visited,
#admin-access > ul > li > h6 > a:active,
#admin-access > div > h3 > a,
#admin-access > div > h3 > a:visited,
#admin-access > div > h3 > a:active {
  color: $grey;
}

#admin > ul > li > h6 > a:hover,
#admin-access > ul > li > h6 > a:hover,
#admin-access > div > h3 > a:hover {
  color: $silver;
}

div .admin-stats {
  background-color: rgba(70, 79, 113, 0.4);
  border: 2px solid $burgandy;
  border-radius: 5px;
  color: $grey;
}

.admin-stats > div > ul > li > h6 > a,
.admin-stats > div > ul > li > h6 > a:active,
.admin-stats > div > ul > li > h6 > a:visited {
  color: $grey;
}

.admin-stats > div > ul > li > h6 > a:hover {
  color: $silver;
}

aside {
  color: $grey;
}

aside a,
aside a:active,
aside a:visited,
#account a,
#account a:active,
#account a:visited {
  color: $grey
}

aside a:hover,
#account a:hover {
  color: $silver
}

.avatar {
  font-size: 16px;
  height: 9.375em;
  width: 9.375em;
  border-radius: 0;
  list-style: none;
}

body > div:nth-child(2) > ul > li:not(:last-child) > a:hover {
  color: $silver;
}

.category-gradient {
  background-image: -ms-linear-gradient(top, #3f4c73 0%, #353D61 100%);
  background-image: -moz-linear-gradient(top, #3f4c73 0%, #353D61 100%);
  background-image: -o-linear-gradient(top, #3f4c73 0%, #353D61 100%);
  background-image: -webkit-gradient(linear, left top, left bottom,
    color-stop(0, #3f4c73),
    color-stop(1, #353D61));
  background-image: -webkit-linear-gradient(top, #3f4c73 0%, #353D61 100%);
  background-image: linear-gradient(to bottom, #3f4c73 0%, #353D61 100%);
}

.categories-admin > ul > li {
  border: 2px solid $burgandy;
  border-radius: 5px;
  margin: 0.5em;
  padding: 0 0.2em 0 0.2em;
  ul > li {
    border: 2px solid $burgandy;
    border-radius: 5px;
    margin: 0.5em 0 0.5em 0;
    padding: 0 0.2em 0 0.2em;
  }
}

.articles-admin > ul > li {
  border: 2px solid $burgandy;
  border-radius: 5px;
  margin: 0.5em;
  padding: 0 0.2em 0 0.2em;
}

.articles-admin > h5 > span,
.categories-admin > h5 > span {
  float: right;
  display: inline-block;
  font-size: 1em;
  color: $grey;
}

.articles-admin > ul > li > h5 > span {
  float: right;
  display: inline-block;
  font-size: 1.2em;
  color: $grey;
}

#cat-buttons {
  float: right;
  display: inline-block;
  font-size: 1em;
  color: $grey;
}

.bip-text-field {
  max-width: 30em;
}

.categories-admin > div > ul > li > h6 {
  display: inline-block;
  float: left;
  font-size: 1em;
  color: $grey;
}

.article-admin > ul > li > h5 {
  display: inline-block;
}

.article-admin > ul > li {
  font-size: 1em;
  color: $grey;
}

.articles-admin * a,
.articles-admin * a:visited,
.articles-admin * a:active,
.categories-admin * a,
.categories-admin * a:visited,
.categories-admin * a:active {
  color: $grey;
}

.articles-admin * a:hover,
.categories-admin * a:hover {
  color: $silver;
}

.button-override {
  font-size: 0.9em;
  font-family: $font-family-title;
  color: $grey;
  margin-bottom: 1em;
  background-color: rgba(70, 79, 113, 0.4);
  border: 1px solid $grey;
}

.cinzel {
  font-family: $font-family-title;
  font-size: 0.9em;
}

.cinzelbold {
  font-family: $font-family-cinzelbold;
}

h1, h2, h3, h4,h5, h6 {
  color: $grey;
  font-weight: $font-weight-bold;
  font-family: $font-family-title;
}

.header-logo {
  height: 15em;
  overflow: hidden;
  vertical-align: bottom;
  background: $royal-blue;
  background-image: url("Lamhirh(1).png"),
                    url("planet.png"),
                    url("header.jpg");
  background-repeat: no-repeat;
  background-position: right bottom, -30em -6em, center;
  background-size: contain, 70em, auto;
}

.header-logo-admin {
  height: 15em;
  overflow: hidden;
  vertical-align: bottom;
  background: $royal-blue;
  background-image: url("Lafiel-Gothlauth.png"),
                    url("planet.png"),
                    url("header.jpg");
  background-repeat: no-repeat;
  background-position: right bottom, -30em -6em, center;
  background-size: contain, 70em, auto;
}

.header-logo-text {
  text-indent:-1em;
  position: relative;
  top: -0.5em;
  font-family: $font-family-logo;
  color: #410502;
  font-size: 5em;
  font-weight: bold;
  line-height: 105%;
  margin: 1em 0 0 1.5em;
  text-shadow: 0.013em 0em 0em #686868,
                0em 0.013em 0em #686868,
                -0.013em 0em 0em #686868,
                0em -0.013em 0em #686868,
                0.013em 0.050em 0.063em #aeaeae;

}

.header-logo-text-admin {
  text-indent:5em;
  position: relative;
  top: -0.5em;
  font-family: $font-family-title;
  color: #410502;
  font-size: 2em;
  font-weight: bold;
  line-height: 105%;
  margin: -1em 0 0 1.5em;
  text-shadow: 0.013em 0em 0em #686868,
                0em 0.013em 0em #686868,
                -0.013em 0em 0em #686868,
                0em -0.013em 0em #686868,
                0.013em 0.050em 0.063em #aeaeae;

}

body > div:nth-child(3) > div > div > div * {
  background-color: transparent;
}

#personal-image {
  margin: 1em;
}

.top-bar-section .has-dropdown {
  overflow: visible;
}

@media only screen and (max-width: lower-bound($medium-range)) {
  @import "navbar";

  article {
    h3 {
      font-size: 12px;
      a {
        font-size: 12px;
      }
    }
    h6 {
      font-size: 11px;
      a {
        font-size: 11px;
      }
    }
    p {
      font-size: 10px;
    }
  }


  aside {
    .avatar {
      font-size: 9px;
    }
    h5 {
      font-size: 12px;
    }
    ul .side-bar li {
      font-size: 10px;
    }
    div {
      .panel {
        font-size: 10px;
      }
      h5 {
        font-size: 11px;
      }
      p {
        font-size: 10px;
      }
    }
  }
  .breadcrumbs > * {
    font-size: 0.4em;
  }

  .header-logo {
    height: 10em;
  }
  .header-logo-text {
    top: -0.4em;
    font-size: 3.4em;
  }
  .top-bar-section ul li > a,
  .top-bar-section ul li ul.dropdown li > a,
  .top-bar-section .dropdown ul li > a,
  .top-bar-section .dropdown li.parent-link a,
  .top-bar-section .dropdown li.back h5 a {
    color: $jet;
    padding: 0 0 0 0.1em;
    font-size: 1em;
  }
}

.row {
  background: $royal-blue;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.top-bar {
  opacity: 0.8;
  z-index: 10;
  postion: relative;
}

// Changes top-bar background color
.contain-to-grid,
.top-bar,
.title-area,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section .dropdown li:not(.has-form) a:not(.button),
.top-bar-section .has-dropdown > a:after {
  font-family: $font-family-title;
}

.top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
  content: "\25ba";
  font-size: 0.7em;
}

/* .top-bar-section .has-dropdown > a:after {
  content: " ";
} */
