// Resize top bar for small-sized screens
  $topbar-height: 0.9em;
  $topbar-title-font-size: 0.4rem;
  $topbar-link-font-size: 0.4rem;
  $topbar-back-link-size: rem-calc(7);
  $topbar-button-font-size: 0.4rem;
  $topbar-dropdown-label-font-size: rem-calc(7);
  $topbar-menu-link-font-size: rem-calc(7);
